/*!------------------------ Cuepo del documento -----------------------*/
/*? Body*/
body {
    /* Definimos una cuadricula*/
    display: grid;
    /* Definimos la s areas de la cuadricula*/
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    /* Establecemos el tamaño de las filas */
    grid-template-rows: 20.5em auto 25em 20em;
    /* Establecemos un pequeño espacion entre las filas*/
    row-gap: 2em;
    /* Estabelcemos el alto*/
    height: 100%;
    /* Establecemos el anvho*/
    width: 100%;
}

/*!----------------------------- header -------------------------------*/
/*? Cabecera de la pagina*/
header {
    /* Establecemos el area que ocupara en la cuadricula principal*/
    grid-area: header;
    /* Establecemo un contenedor flexible*/
    display: flex;
    /* Estableemos la direccion de los elementos*/
    flex-direction: column;
    /* Modificamos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
    /* Establecemos la altura*/
    height: 100%;
}

/*************************** Logo de la pagina**************************/

/*? Imagen del logo*/
.header--logo img {
    /* Modificamos la altura*/
    height: 10em;
    /* Modificamos el ancho*/
    width: 100%;
}

/************************Barra de navegacion****************************/

/*? Contedor de elementos de menu y migas de pan de la barra de navegacion*/
.divBarraNavegacion {
    /* Modificamos el display a contenedor flex*/
    display: flex;
    /* Establecemos la direccion de los elementos a fila*/
    flex-direction: row;
    /* Justificamos el contenido con espacio alrededor*/
    justify-content: space-around;
    /* Alineamos los elementos al centro*/
    align-items: center;
    /* Cambiamos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.2em;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos el borde*/
    border: 0.4em solid rgb(66, 66, 66);
    /* Establecemos el color de fondo*/
    background-color: white;
}

/*? Elementos de menu de la barra de navegacion*/
.divBarraNavegacionElementos {
    /* Establecemos el relleno*/
    padding: 0.48em;
    /* Establecemos el ancho*/
    width: 7.4em;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el puntero para que cambien como enlace*/
    cursor: pointer;
    /* Alineamos los elementos al centro*/
    align-self: center;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el borde redondo*/
    border-radius: 1em;
}

/*? Elemento migas de pan de la barra de navegacion*/
.elementoMigasPanBarraNavegacion {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Alineamos los elementos al centro*/
    align-items: center;
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Cambiamos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.4em;
    /* Establecemos el puntero para que cambien como enlace*/
    cursor: pointer;
    /* Establecemos la altura*/
    height: 2em;
}

/*? Estilos para el elemento select */
.selectBarraNavegacionRestaurante {
    /* Establecemos el alto*/
    height: 2.45em;
    /* Establecemos el ancho*/
    width: 8.5em;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1em;
    /* Cambiamos el color del primer plano*/
    color: white;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el borde redondo*/
    border-radius: 1em;
    /* Alineamos el texto al centro*/
    text-align: center;
}

/*? Estilos para las opciones del select */
.selectBarraNavegacionRestaurante option {
    /* Cambiamos el tamaño de la fuente*/
    font-size: 1em;
    /* Cambiamos el color del primer plano*/
    color: white;
    /* Cambiamos el color del primer plano*/
    background-color: rgb(66, 66, 66);
}

/*!----------------------------- main ----------------------------------*/
/******************* Cuerpo principal de la pagina***********************/
/*? Contenedor padre main*/
.main {
    /* Asignamos el area al grid del body*/
    grid-area: main;
    /* Hacemos un nuevo grid en el main */
    display: grid;
    /* Establecemos las areas de la cuadricula*/
    grid-template-areas: "main--listado main--contenido";
    /* Definimos las columnas*/
    grid-template-columns: 12% 88%;
    /*  Definimos las filas */
    grid-template-rows: 100%;
    /* Establecemos la altura del contenedor*/
    height: 100%;
}

/*********************Listado de elementos del lateral**********************/
/*? Contenedor padre listado de elementos laterales*/
.main--listado {
    /* Asinamos el area al main*/
    grid-area: main--listado;
    /* Establecemos u contenedor flexible*/
    display: flex;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos la altura del contenedor*/
    height: 100%;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Alineamos el contenido al centro*/
    align-items: center;
}

/*? Elementos de la barra lateral que muestra la categoria*/
.pLateralCategoria {
    /* Establecemos el relleno del elemento*/
    padding: 0.5em;
    /* Establecemos el margen superior*/
    margin-top: 20%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 100%;
    /* Establecemos el ancho en negrita*/
    font-weight: bold;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el puntero como si fuera un enlace*/
    cursor: pointer;
    /* Establecemos el color de fondo*/
    background-color: rgba(66, 66, 66, 0.5);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Centramos el texto*/
    text-align: center;
}

/*? Listado de la barra lateral que muestra los platos*/
.pPlatosDescripcionLateral {
    /* Establecemos el relleno del elemento*/
    padding: 0.5em;
    /* Establecemos el margen superior*/
    margin-top: 20%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 100%;
    /* Establecemos el ancho en negrita*/
    font-weight: bold;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el puntero como si fuera un enlace*/
    cursor: pointer;
    /* Establecemos el color de fondo*/
    background-color: rgba(66, 66, 66, 0.5);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Centramos el texto*/
    text-align: center;
}

/*? Listado de la barra lateral que mostrara los menus del restaurante*/
.pMenuLateralMenus {
    /* Establecemos el relleno del elemento*/
    padding: 0.5em;
    /* Establecemos el margen superior*/
    margin-top: 20%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 100%;
    /* Establecemos el ancho en negrita*/
    font-weight: bold;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el puntero como si fuera un enlace*/
    cursor: pointer;
    /* Establecemos el color de fondo*/
    background-color: rgba(66, 66, 66, 0.5);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Centramos el texto*/
    text-align: center;
}

/*? Listado de la barra lateral que muestra los alergenos*/
.pAlegenosPlatosLateral {
    /* Establecemos el relleno del elemento*/
    padding: 0.5em;
    /* Establecemos el margen superior*/
    margin-top: 20%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 100%;
    /* Establecemos el ancho en negrita*/
    font-weight: bold;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el puntero como si fuera un enlace*/
    cursor: pointer;
    /* Establecemos el color de fondo*/
    background-color: rgba(66, 66, 66, 0.5);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Centramos el texto*/
    text-align: center;
}
/*? Listado de la barra lateral que musestra los restaurantes*/
.pRestauranteDescripcionLateral {
    /* Establecemos el relleno del elemento*/
    padding: 0.5em;
    /* Establecemos el margen superior*/
    margin-top: 20%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 100%;
    /* Establecemos el ancho en negrita*/
    font-weight: bold;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el puntero como si fuera un enlace*/
    cursor: pointer;
    /* Establecemos el color de fondo*/
    background-color: rgba(66, 66, 66, 0.5);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Centramos el texto*/
    text-align: center;
}

/*? Listado de la barra lateral que muestra los formularion*/
.pLateralFormularios {
    /* Establecemos el relleno del elemento*/
    padding: 0.5em;
    /* Establecemos el margen superior*/
    margin-top: 20%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 100%;
    /* Establecemos el ancho en negrita*/
    font-weight: bold;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el puntero como si fuera un enlace*/
    cursor: pointer;
    /* Establecemos el color de fondo*/
    background-color: rgba(66, 66, 66, 0.5);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Centramos el texto*/
    text-align: center;
}

/********************** Contenido central mostrado**********************/
/*? Contenido que mostraremos en la pagina*/
.main--contenido {
    /* establecemos el area que ocupara en el main*/
    grid-area: main--contenido;
    /* Hacemos un contenedor flexible*/
    display: flex;
    /* Justificamos los contenidos para que esten centrados verticalmente*/
    justify-content: center;
    /* Alineamos los contenidos horizontalmetne*/
    align-items: center;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* establecemos el margen derecho*/
    margin-left: 1em;
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    height: 100%;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Contenedor para el mostrado de las categorias al cargar la pagina*/
.contenedorCategorias {
    /* Establecemos un contenedor flex*/
    display: grid;
    /* Establecemos una plantilla para las columnas*/
    grid-template-columns: 25% 25% 25% 25%;
    /* Establecemos el tamaño de laj fuente*/
    font-size: 1.5em;
    /* Alineamos los contenidos al centro*/
    align-items: center;
    /* Justificamos el contenido con espacio alrededor*/
    justify-content: center;
    /* Establecemos el ancho*/
    width: 100%;
    /* Establecemos el alto*/
    height: 100%;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Cambiamos el cursor para que parezca el contnedor un enlade*/
    cursor: pointer;
    /* Establecemos el margen izquierdo*/
    margin-left: 2em;
    /* Establecemos el magen derecho*/
    margin-right: 2em;
    /* Establecemos el margen superior*/
    margin-top: 1em;
    /* Establecemos el margen inferior*/
    margin-bottom: 1em;
    /* Establecemos el espacio de las columnas*/
    column-gap: 1em;
}

/*? Contenedor para el mostrado de la imagen de la categorias al cargar la pagina*/
.conenedorImagenBack {
    /* Establecemos la altura*/
    height: 25em;
    /* Establecemos la anchura*/
    width: 100%;
    /* Establecemos el puntero para que nosa aparezca seleccionado*/
    cursor: pointer;
    /* Establecemos el borde redondo*/
    border-radius: 1em;
    /* Establecemos el tamaño de fondo y lo centramos */
    background-size: cover;
    /* Etablecemos el fondo para que no se repita*/
    background-repeat: no-repeat;
    /* Alineamos el fondo al centro*/
    background-position: center;
}

/*? Span para el nombre de las categorias al cargar la pagina de inicio*/
.contenedorCategorias span {
    /* Establecemos el color del primer plano*/
    color: rgb(66, 66, 66);
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Establecemos el ancho de la fuente a negrita*/
    font-weight: bold;
    /* Establecemos el color de fondo*/
    background-color: white;
    /* Establecemos la altura*/
    height: 7%;
    /* Establecemos la anchura*/
    width: 87%;
    /* Centramos el texto*/
    text-align: center;
    /* Establecemos el borde redondo*/
    border-radius: 0.7em;
    /* Establecemos el relleno izquierdo*/
    padding-left: 3%;
    /* Establecemos el relleno derecho*/
    padding-right: 3%;
}

/*? Contenedor para mostra las categorias desde la barra de navegacion*/
.contenedorPrincipalCategoriasMenu {
    /* Establecemos una cuadricula*/
    display: grid;
    /* Establecemos el numero de columnas de la cuaricula*/
    grid-template-columns: 25% 25% 25% 25%;
    /* Alineamos el texto*/
    text-align: center;
    /* Establecemos todas las filas del mismo tamaño*/
    grid-auto-rows: 1fr;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuento*/
    font-size: 1.5em;
    /* justificamos elj contenido al centro*/
    justify-content: center;
    /*Establecemos el margen*/
    margin: 5%;
    /* Establecemos el ancho*/
    width: 78%;
}

/*? Imagenes del contenedor para mostrar las categorias del menu*/
.contenedorPrincipalCategoriasMenu img {
    /* Establecemos la altura*/
    height: 10em;
    /* Establecemos la anchura*/
    width: 90%;
    /* Establecemos el puntero para que nosa aparezca seleccionado*/
    cursor: pointer;
    /*Establecemos el borde redondo*/
    border-radius: 1em;
}

/*? Contenedor para mostrar los alergenos desde la barra de navegacion*/
.contenedorPrincipalAlergenos {
    /* Establecemos una cuadricula*/
    display: grid;
    /* Establecemos el numero de columnas de la cuaricula*/
    grid-template-columns: 25% 25% 25% 25%;
    /* Alineamos el texto*/
    text-align: center;
    /* Establecemos todas las filas del mismo tamaño*/
    grid-auto-rows: 1fr;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuento*/
    font-size: 1.5em;
    /* justificamos elj contenido al centro*/
    justify-content: center;
    /* Establecemos el margen*/
    margin: 5%;
    /* Etablecemos el borde*/
    border: 0em;
    /* Establecemos el ancho*/
    width: 78%;
}

/*? Imagenes del contenedor de alegenos desde la barra de navegacion*/
.contenedorPrincipalAlergenos img {
    /* Establecemos la altura*/
    height: 10em;
    /* Establecemos la anchura*/
    width: 90%;
    /* Establecemos el puntero para que nosa aparezca seleccionado*/
    cursor: pointer;
    /*Establecemos el borde redondo*/
    border-radius: 1em;
}

/*? Contenedor para mostrar los platos que tiene un alergeno*/
.contenedorPrincipalAlergenosPlatosDescripcion {
    /* Establecemos una cuadricula*/
    display: grid;
    /* Establecemos el numero de columnas de la cuaricula*/
    grid-template-columns: 25% 25% 25% 25%;
    /* Alineamos el texto*/
    text-align: center;
    /* Establecemos todas las filas del mismo tamaño*/
    grid-auto-rows: 1fr;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuento*/
    font-size: 1.5em;
    /* justificamos elj contenido al centro*/
    justify-content: center;
    /* Establecemos el margen*/
    margin: 5%;
    /* Etablecemos el borde*/
    border: 0em;
    /* Establecemos el ancho*/
    width: 78%;
}

/*? Filas de los platos*/
.contenedorPrincipalAlergenosPlatosDescripcion img {
    /* Establecemos la altura*/
    height: 10em;
    /* Establecemos la anchura*/
    width: 90%;
    /* Establecemos el puntero para que nosa aparezca seleccionado*/
    cursor: pointer;
    /*Establecemos el borde redondo*/
    border-radius: 1em;
}

/*? Contenedor para mostra los menus desde la barra de navegacin*/
.contenedorMenuPrincipal {
    /* Establecemos una cuadricula*/
    display: grid;
    /* Establecemos el numero de columnas de la cuaricula*/
    grid-template-columns: 25% 25% 25% 25%;
    /* Establecemos el tamaño de la fila para que sean todas iguales*/
    grid-auto-rows: 1fr;
    /* Alineamos el texto*/
    text-align: center;
    /* Establecemos todas las filas del mismo tamaño*/
    grid-auto-rows: 1fr;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuento*/
    font-size: 1.5em;
    /* justificamos elj contenido al centro*/
    justify-content: space-around;
    /* Establecemos el margen*/
    margin: 5%;
    /* Etablecemos el borde*/
    border: 0em;
    /* Establecemos el ancho*/
    width: 78%;
}

/*? Imagenes que mostraremos en los menus*/
.contenedorMenuPrincipal img {
    /* Establecemos la altura*/
    height: 10em;
    /* Establecemos la anchura*/
    width: 90%;
    /* Establecemos el puntero para que nosa aparezca seleccionado*/
    cursor: pointer;
    /*Establecemos el borde redondo*/
    border-radius: 1em;
}

/*? Contenedor para mostra los platos desde la barra de navegacion*/
.contenedorPlatosPrincipal {
    /* Establecemos una cuadricula*/
    display: grid;
    /* Establecemos el numero de columnas de la cuaricula*/
    grid-template-columns: 25% 25% 25% 25%;
    /* Alineamos el texto*/
    text-align: center;
    /* Establecemos todas las filas del mismo tamaño*/
    grid-auto-rows: 1fr;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuento*/
    font-size: 1.5em;
    /* justificamos elj contenido al centro*/
    justify-content: center;
    /*Establecemos el margen*/
    margin: 5%;
    /* Establecemos el ancho*/
    width: 78%;
}

/*? Imagenes del contenedor delm mostrado de datos*/
.contenedorPlatosPrincipal img {
    /* Establecemos la altura*/
    height: 10em;
    /* Establecemos la anchura*/
    width: 90%;
    /* Establecemos el puntero para que nosa aparezca seleccionado*/
    cursor: pointer;
    /*Establecemos el borde redondo*/
    border-radius: 1em;
}

/*? Contenedor que incluira la descripcion de los platos*/
.contenedorDescripcion {
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos la anchura*/
    width: 100%;
    /* Hacemos un contenedor flexible*/
    display: flex;
    /* Establecem0os la direccion de los elementos*/
    flex-direction: column;
    /* Justificamos los elementos al centro*/
    justify-content: center;
    /* Alineamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño del la fuente*/
    font-size: 1.5em;
    /* justificamos elj contenido al centro*/
    justify-content: center;
    /*Establecemos el margen*/
    margin: 5%;
}

/*? Imagenes del contenedor co la descripcion*/
.contenedorDescripcion img {
    /* Establecemo la altura*/
    height: 25em;
    /* Establecemos la anchura*/
    width: 35em;
}

/*? Mostrado de la descripcion de los restaurantes*/
.contenedorDescripcionReataurante {
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos la anchura*/
    width: 100%;
    /* Hacemos un contenedor flexible*/
    display: flex;
    /* Establecem0os la direccion de los elementos*/
    flex-direction: column;
    /* Justificamos los elementos al centro*/
    justify-content: center;
    /* Alineamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño del la fuente*/
    font-size: 1.5em;
    /* Establecemos los huecos de la fila*/
    row-gap: 1em;
    /* Establecemos los margenes*/
    margin: 2em;
}

/*! -------------------------Estilos formularios------------------------*/
/*? Formulario para la creacion de platos*/
.formularioCrearPlato {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 3em;
}

/*? Formulario para la eliminacion de platos*/
.formularioEliminarPlato {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Establecemos los espacios entre los elementos*/
    row-gap: 1em;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 1em;
}

/*? Contenedor para los formularios de administracion de platos*/
.contenedorAdministracionPlatosFormulario {
    /* Establecemos un contenedor flexible*/
    display: grid;
    /* Establecemos el tamaño de las columna*/
    grid-template-columns: 33.2% 33.2% 33.2%;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos la anchura*/
    width: 100%;
    /* Establcecemos el color del primer plano*/
    color: white;
    /* Establecemos los espacios entre los elementos*/
    row-gap: 1em;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Establecemos el espacio de las columnas*/
    column-gap: 0.2em;
}

/*? Contenedores para la administracion de los platos*/
.contenedorAdministracionPlatosDiv {
    /* Establecemos los bordes a los contenedores*/
    border: 0.3em solid white;
}

/*? Formulario para la asignacion de platos al menu*/
.formularioAsignacionPlatoMenu {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elementos*/
    flex-direction: column;
    /* Alineamos los elementos*/
    align-items: center;
    /* Establecemos el espacio entre las filas*/
    row-gap: 1em;
}

/*? Formulario para la desasignacion de platos al menu*/
.formularioDeasignacionPlatoMenu {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elementos*/
    flex-direction: column;
    /* Alineamos los elementos*/
    align-items: center;
    /* Establecemos el espacio entre las filas*/
    row-gap: 1em;
}

/*? Contenedor principal para la administracion de los formularios de las categorias*/
.contenedorAdministracionCategoriasFormulario {
    /* Establecemos un contenedor flexible*/
    display: grid;
    /* Establecemos el tamaño de las columna*/
    grid-template-columns: 49.9% 49.9%;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos la anchura*/
    width: 100%;
    /* Establcecemos el color del primer plano*/
    color: white;
    /* Establecemos los espacios entre los elementos*/
    row-gap: 1em;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1em;
    /* Establecemos el espacio de las columnas*/
    column-gap: 0.2em;
}

/*? Contenedores para la administracion de las categorias*/
.contenedorAdministracionCategoriasDiv {
    /* Establecemos los bordes a los contenedores*/
    border: 0.3em solid white;
}

/*? Formulario para crear categorias*/
.formularioCrearCategoria {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: auto;
}

/*? Formulario para eliminar la categoria*/
.formularioEliminarCategoria {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Establecemos los espacios entre los elementos*/
    row-gap: 1em;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 1em;
}

/*? Formulario para la creacion de restaurantes*/
.formularioCrearRestaurante {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 3em;
}

/*? Contenedor para mostrar el mapa para la creacion del restaurante*/
#map {
    /* Establecemos la altura del contenedor*/
    height: 50em;
    /* Establecemos la anchura del contenedor*/
    width: 70%;
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Contenedor para mostrar el mapa en la descripcion del restaurante*/
#contenedorMapaDescripcion {
    /* Establecemos la altura del contenedor*/
    height: 45em;
    /* Establecemos la anchura del contenedor*/
    width: 50%;
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Contenedor principal para mostrar el mapa con todos los restaurantes*/
#contenedorPrincipalMapaRestaurantes {
    /* Establecemos el contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elementos*/
    flex-direction: column;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Alineamos el contenido al centro*/
    align-items: center;
    /* Establecemos el ancho del contenedor*/
    width: 100%;
    /* Establecemos los espacios de las filas*/
    row-gap: 1em;
    /* Establecemos el magen*/
    margin: 2em;
}

/*? Contenedor que mostrara el mapa con todos los restaurantes*/
#contenedorMapaRestaurantes {
    /* Establecemos la altura del contenedor*/
    height: 45em;
    /* Establecemos la anchura del contenedor*/
    width: 65%;
}

/* Estilos para el contenido del pop-up */
.popup-content {
    /* Establecemos el ancho*/
    width: 2em;
    /* Establecemos la altura*/
    height: auto;
    /* Establecemos el relleno del elemento*/
    padding: 1em;
}

/*? Formulario para el registro del usuario*/
.formulariLoginUsuario {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 5em;
    /* Establecemos el espacio de la fila*/
    row-gap: 1em;
}
/*? Formulario para la agregacion de platos a favoritos*/
.formularioAsignacionPlatosFavoritos {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 5em;
    /* Establecemos el espacio de la fila*/
    row-gap: 1em;
}

/*? Contenedor principal para la administracion de las categorias y los platos*/
.contenedorAdministracionCategoriaPlatos {
    /* Establecemos un contenedor flexible*/
    display: grid;
    /* Establecemos el tamaño de las columna*/
    grid-template-columns: 49.9% 49.9%;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos la anchura*/
    width: 100%;
    /* Establcecemos el color del primer plano*/
    color: white;
    /* Establecemos los espacios entre los elementos*/
    row-gap: 1em;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.5em;
    /* Establecemos el espacio de las columnas*/
    column-gap: 0.2em;
}

/*? Contenedores para asignar las categorias a los platos*/
.asignarCategoriasPlatosDiv {
    /* Establecemos los bordes a los contenedores*/
    border: 0.3em solid white;
}

/*? Formulario para la asignacion de una categoria a un plato */
.formularioAsignacionCategoriasPlatos {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 1em;
}

/*? Contenedor para desasignar las categorias a los platos*/
.desasignarCategoriasPlatosDiv {
    /* Establecemos los bordes a los contenedores*/
    border: 0.3em solid white;
}

/*? Formulario para la desasignacion de platos*/
.formularioDesasignacionCategoriasPlatos {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 1em;
}
/*? Formulario que muestra el geocoder*/
.formularioGeocoder {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion de los elemento*/
    flex-direction: column;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1em;
    /* Asisnamos los elementos al centro*/
    align-items: center;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el margen*/
    margin: 1em;
    /* Establecemos los espacios*/
    row-gap: 1em;
}
/*? Contenedor en el que vamos a almacenar el mapa con las coordenadas*/
.contenedorGeocoderMapa {
    /* Establecemos la altura del contenedor*/
    height: 50em;
    /* Establecemos la anchura del contenedor*/
    width: 70%;
}

/*? Contenedor en el que vamos a mostrar las direcciones de la busqueda*/
.contenedorListaDirecciones {
    /* Establecemos el borde del contenedor*/
    border: 0.3em solid #dee2e6;
    /* Establecemos el estilo de la lista*/
    list-style: none;
}
/*? Enlaces con la direccionde del goocoder paramostrar la localizacion*/
.enlaceDireccion {
    /* Establecemos un contenedor flexiblez*/
    display: flex;
    /* Justificamos el contenido*/
    justify-content: center;
    /* Establecemos el relleno de los elementos*/
    padding: 0.5em;
    /* Establecemos la decoracion de los enlaces*/
    text-decoration: none;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el borde de los elementos*/
    border: 0.2em solid white;
}
/*? contenedor que mostrara el mensaje de error si no puede establecer conexion con el servidor de mapas*/
.errorDiv {
    /* Establecemos el relleno de los elementos*/
    padding: 0.5em;
    /* Establecemos el color del primer plano*/
    color: white;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el borde de los elementos*/
    border: 0.3em solid white;
}

/*! --------------------Estilos elementos formularios--------------------*/
/*? Input de tipo texto parja formularios*/
.inputTextFormulario {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 65em;
}

/*? Input de tipo texarea para formularios*/
.inputTextAreaFormulario {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 65em;
}

/*? Botonones para formularios*/
.inputButtonFormulario {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 50em;
    /* Establecemos el tamaño de la fuente*/
    font-size: 0.75em;
    /* Establecemos el borde superior*/
    margin-top: 1em;
}
/*? Selects en formularios*/
.selectFormulario {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 70em;
    /* Establecemos el tamaño de la fuente*/
    font-size: bold;
    /* Alinamos el contenido al centro*/
    text-align: center;
}

/*? Tabla para los formularios*/
.tablaFormularios {
    /* Establecemos la anchura*/
    width: 15em;
}

/*? Columnas para los formularios*/
.tablaFormularios td {
    /* Establecemos el ancho de las columnas */
    width: 25%;
    /* Alineamos el contenido de las celdas */
    text-align: left;
    /* Añadimos un borde para separar las celdas */
    border: 1px solid white;
    /* Colapsamos los bordes*/
    border-collapse: collapse;
}

/*? Radiobotones de los formularios*/
.radioBotonesContenedorFormulario {
    /* Establecemos un contenedor flexible*/
    display: grid;
    /* Establecemos las columnas del contenedor*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* Establecemo el tamaño de las filas*/
    grid-auto-rows: 1fr;
    /* Justificamos el contenido*/
    justify-content: center;
    /* Alineamos los elementos*/
    align-items: center;
    /* Establecemos los espacios entre las filas*/
    row-gap: 1em;
    /* Alineamos el texto a la izquierda*/
    text-align: left;
    /* Establecemos los espacios entre las colunas*/
    column-gap: 1em;
}
/*? Boton para el formulario de eliminar platos*/
.inputButtonFormularioEliminarPlatos {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 100%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 0.75em;
    /* Establecemos el borde superior*/
    margin-top: 1em;
}

/*? Botones para formularios para la administracion de Platos*/
.inputButtonAdministrarPlatos {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 50%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 0.75em;
    /* Establecemos el borde superior*/
    margin-top: 1em;
}

/*? Input de tipo texto parja formularios de administracion de categorias*/
.inputTextFormularioCategorias {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 97%;
}

/*? Input de tipo texarea para formularios de administracion de categorias*/
.inputTextAreaFormularioCategorias {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 97%;
}

/*? Input de tipo boton para el envio de formulario en la categoria*/
.inputButtonAdministrarCategorias {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 30%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 0.75em;
    /* Establecemos el borde superior*/
    margin-top: 1em;
}

/*? Input de tipo boton para la creacio del restaurante*/
.inputButtonCrearRestaurante {
    /* Establemos la altura*/
    height: 3em;
    /* Establecemos la anchura*/
    width: 48.6em;
    /* Establecemos el tamaño de la fuente*/
    font-size: 0.75em;
    /* Establecemos el borde superior*/
    margin-top: 1em;
}

/*? Tabla para los formularios de asignado de menus al plato*/
.tablaAMenusAsignadoPlatos {
    /* Establecemos la anchura*/
    width: 15em;
    /* Establecemos el margen*/
    margin-left: 2em;
    /* Establecemos el margen*/
    margin-right: 2em;
}

/*? Columnas para los formularios de asignado de menus al plato*/
.tablaAMenusAsignadoPlatos td {
    /* Establecemos el ancho de las columnas */
    width: 25%;
    /* Alineamos el contenido de las celdas */
    text-align: left;
    /* Añadimos un borde para separar las celdas */
    border: 1px solid white;
    /* Colapsamos los bordes*/
    border-collapse: collapse;
}

/*? Mensaje de confirmacion de que el formulario se ha procesado correctamente*/
.mensajesFormulariosConfirmacion {
    color: greenyellow;
    font-size: 3em;
}

/*? Mensaje de denegacio de que el formulario no se ha procesado correctamente*/
.mensajesFormulariosError {
    color: red;
    font-size: 3em;
}

/*! --------------------------- aside ----------------------------------*/
/****************** Cuerpo secundario de la pagina**********************/
/*? Cuerpo secundario contenedor pricipal*/
.aside {
    /* Asignamos el area en el main*/
    grid-area: aside;
    /* Establecemos como contenedor flex*/
    display: flex;
    /* Establecemos la direccion*/
    flex-direction: row;
    /* Alineamos los elementos al centro*/
    align-items: center;
    /* justificamos el cont4nido al centro*/
    justify-content: center;
    /* Establecemos la altura del contenedor*/
    height: 100%;
    /* Asignamos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Titulo de los platos del aside*/
.aside h2 {
    /* Establecemos la altura*/
    height: 100%;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el color del primer plano*/
    color: rgb(66, 66, 66);
    /* Establecemos la anchura del texto en negrita*/
    font-weight: bold;
    /* Establecemos el tamaño de la fuente*/
    font-size: 2.9em;
    /* Establecemos el color de fondo*/
    background-color: white;
    /* Establecemos el texto en vertical */
    writing-mode: vertical-rl;
    /* Establecemos el tecto en horizontal para que sea legible */
    text-orientation: upright;
}

/*? Contenedor del aside*/
.aside div {
    /* Establecemos el contenedor flexible*/
    display: flex;
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Establecemos los bordes redondos*/
    border-radius: 1em;
    /* Establecemos la altura*/
    height: 23em;
    /* Establecemos la anchura*/
    width: 90%;
    /* Establecemos el fondo para que no se repita*/
    background-repeat: repeat;
    /* Establecemos el fondo para que lo cubra el contenedor*/
    background-size: cover;
    margin: 1%;
    /* Establecemos el tamaño de fondo y lo centramos */
    background-size: cover;
    /* Establecemos el fondo para que no se repita*/
    background-repeat: no-repeat;
    /* Establecemos la alineacion del fondo al centro*/
    background-position: center;
}

/*? Parrafos del aside*/
.aside span {
    /* Establecemos el color de fondo*/
    background-color: white;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.4em;
    /* Alineamos el texto*/
    text-align: center;
    /* Establecemos el ancho*/
    width: 70%;
    /* Establecemos el alto*/
    height: 1.5em;
    /* Establecemos el color*/
    color: rgb(66, 66, 66);
    /* Establecemos el tamaño de la fuente*/
    font-weight: bold;
    /* Establecemos el borde redondo*/
    border-radius: 1em;
}

/*! -------------------------------footer-------------------------------*/
/**************************** Pie de pagina*****************************/
/*? Contenedor principal del pie de pagina*/
.footer {
    /* Establecemos el area en el main*/
    grid-area: footer;
    /* Establecemos una nueva cuadricula*/
    display: grid;
    /* Asignamos la areas*/
    grid-template-areas: "footer--contacto footer--social";
    /* Establecemos el tamaño de las columnas*/
    grid-template-columns: 50% 50%;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el color del primer plano*/
    color: aliceblue;
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Contactos del pie de pagina*/
.footer--contacto {
    /* Establecemos el area en el pie de pagina*/
    grid-area: footer--contacto;
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion a columnas*/
    flex-direction: column;
    /* Alineamos el contenido al centro*/
    align-items: center;
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.2em;
}

/*? Iconos del pie de pagina*/
.footer--social {
    /* Establecemos el area en el pie de pagina*/
    grid-area: footer--social;
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Establecemos la direccion a columnas*/
    flex-direction: column;
    /* Alineamos el contenido al centro*/
    align-items: center;
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1em;
    /* Establecemos la altura*/
    height: 100%;
}

/*? Imagenes iconos pie de pagina*/
.footer--social img {
    /* establecemos el alto*/
    height: 4em;
    /* Establecemos el ancho*/
    width: 4em;
}
