/*!----------------------------------- Cuepo del documento -------------------------------*/
/*? Body*/
body {
    /* Definimos una cuadricula*/
    display: grid;
    /* Definimos la s areas de la cuadricula*/
    grid-template-areas:
        "header--logo"
        "header--nav"
        "header--pan"
        "main"
        "aside"
        "footer";

    /* Establecemos el tamaño de las filas */
    grid-template-rows: 13% 3% 2% 44% 20% 17%;
    /*Establecemos un pequeño espacion entre las filas*/
    row-gap: 1.9em;
    /*Estabelcemos el alto al 100vh*/
    height: 100em;
}

/*!----------------------------------------- header -------------------------------------*/
/*? Logo de la pagina*/
/* Contenedor principal del logo*/
.header--logo {
    /* Asignamos el area del grid*/
    grid-area: header--logo;
    /* Modificamos la altura*/
    height: 100%;
}
/* Imagen del logo*/
.header--logo img {
    /* Modificamos la altura*/
    height: 100%;
    /* Modificamos el ancho*/
    width: 100%;
}
/*? Navegacion con migas de pan*/
.header--pan {
    /* Establecemos el area que ocupara en el main*/
    grid-area: header--pan;
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Alineamos el contenido al centro*/
    align-items: center;
    /* establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.5em;
    /* Establecemos el relleno de la izquierda*/
    padding-left: 1.5em;
    /* establecemos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.2em;
    /*Establecemos la altura*/
    height: 15%;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Barra de navegacion*/
/* Lista de la barra de navegacion*/
.header--nav {
    /*Asignamos el area del grid*/
    grid-area: header--nav;
    /* Centramos el conenido*/
    justify-content: space-around;
    /* Modificamos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
    /* Establcemos la altura*/
    height: 65%;
}

/*? Elementos de la lista de la barra de navegacion*/
.header--nav ul {
    /* Modificamos el display a contenedor flex*/
    display: flex;
    /* Establecemos la direccion de los elementos a fila*/
    flex-direction: row;
    /* Justificamos el contenido con espacio alrededor*/
    justify-content: space-around;
    /* Establecemos un relleno*/
    padding: 1em;
    /* Quitamos los estilos de la lista*/
    list-style: none;
}

/*? Enlaces de la barra de navegacion*/
.header--nav li {
    /* Cambiamos el color del primer plano*/
    color: white;
    /* Establecemos una linea de subrayado*/
    text-decoration: underline;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.7em;
    /* Establecemos el puntero para que cambien como enlace*/
    cursor: pointer;
}

.header--nav p {
    /* Cambiamos el color del primer plano*/
    color: white;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.3em;
    /* Establecemos el relleno*/
    padding-left: 1em;
}

/*!----------------------------------------- main -------------------------------------*/
/*? Cuerpo principal de la pagina*/
/* Contenedor padre main*/
.main {
    /* Asignamos el area al grid del body*/
    grid-area: main;
    /* Hacemos un nuevo grid en el main */
    display: grid;
    /* Establecemos las areas de la cuadricula*/
    grid-template-areas: "main--listado main--contenido";
    /* Definimos las columnas*/
    grid-template-columns: 15% 85%;
    /*  Definimos las filas */
    grid-template-rows: 100%;
    /* Establecemos la altura del contenedor*/
    height: 100%;
}

/** Listado de elementos*/
/*? Contenedor padre listado*/
.main--listado {
    /* Asinamos el area al main*/
    grid-area: main--listado;
    /* Creamos unnuevo grid para mostrar los elemento*/
    display: flex;
    /* Establecemos la direccion de los elementos*/
    flex-direction: column;
    /* Alinamoe los item horizontalmente*/
    justify-content: center;
    /* Alineamos los items verticalmente*/
    align-items: center;
    /* Establecemos el espacion entre los elementos*/
    row-gap: 1em;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos la altura del contenedor*/
    height: 100%;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Contenedor del listado de elementos */
.main--listado div {
    /* Establecemos un contenedor flexible*/
    display: flex;
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Alineamos los elementos al centro*/
    text-align: center;
    /* Modificamos el cursor para que parezca un enlace*/
    cursor: pointer;
    /* Establecemos el tamaño del fondo*/
    background-size: auto;
    /* Establecemos la altura*/
    height: 23%;
    /* Establecemos la anchura*/
    width: 85%;
    /* Establecemos el borde redondo*/
    border-radius: 0.7em;
}
/*? Enlaces del listado */
.main--listado a {
    /* Establecemos el relleno*/
    padding: 0.03em;
    /* Establecemos el ancho*/
    width: 90%;
    /* Establecemos el alto*/
    height: 15%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.2em;
    /* Establecemos el ancho en negrita*/
    font-weight: bold;
    /* Establecemos el color del primer plano*/
    color: rgb(66, 66, 66);
    /* Establecemos el color del fondo*/
    background-color: white;
    /* Establecemos el borde redondo*/
    border-radius: 1em;
}

/** Contenido mostrado*/
/*? Contenido que mostraremos en la pagina*/
.main--contenido {
    /* establecemos el area que ocupara en el main*/
    grid-area: main--contenido;
    /* Hacemos un contenedor flexible*/
    display: flex;
    /* Justificamos los contenidos para que esten centrados verticalmente*/
    justify-content: space-around;
    /* Alineamos los contenidos horizontalmetne*/
    align-items: center;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* establecemos el margen derecho*/
    margin-left: 1em;
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    height: 100%;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}
/*? Contenedor del contenido mostrado*/
.main--contenido div {
    /* Establecemos un contenedor flex*/
    display: flex;
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Redondeamos los bordes*/
    border-radius: 1.2em;
    /* Cambiamos el cursor para que parezca el contnedor un enlade*/
    cursor: pointer;
    /* Evitamos que se repita el fondo*/
    background-repeat: no-repeat;
    /* Establecemos el tamaño del fondo para que cubra todo el fondo*/
    background-size: cover;
    /* Establecemos el ancho*/
    width: 24%;
    /* Establecemos el alto*/
    height: 96%;
}
/*? Parrafos del contenido mostrado*/
.main--contenido span {
    /* Establecemos el color del primer plano*/
    color: rgb(66, 66, 66);
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.7em;
    /* Establecemos el ancho de la fuente a negrita*/
    font-weight: bold;
    /* Establecemos el color de fondo*/
    background-color: white;
    /* Establecemos la altura*/
    height: 4%;
    /* Establecemos la anchura*/
    width: 87%;
    /* Centramos el texto*/
    text-align: center;
    /* Establecemos el borde redondo*/
    border-radius: 1em;
}

/*!----------------------------------------- aside -------------------------------------*/
/*? Cuerpo secundario de la pagina*/
.aside {
    /* Asignamos el area en el main*/
    grid-area: aside;
    /* Establecemos como contenedor flex*/
    display: flex;
    /* Establecemos la direccion*/
    flex-direction: row;
    /* Alineamos los elementos al centro*/
    align-items: center;
    /* justificamos el cont4nido al centro*/
    justify-content: space-around;
    /* Establecemos la altura del contenedor*/
    height: 100%;
    /* Asignamos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}
/*? Titulo de los platos del aside*/
.aside h2 {
    /* Establecemos la altura*/
    height: 100%;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el color del primer plano*/
    color: rgb(66, 66, 66);
    /* Establecemos la anchura del texto en negrita*/
    font-weight: bold;
    /* Establecemos el tamaño de la fuente*/
    font-size: 2.9em;
    /* Establecemos el color de fondo*/
    background-color: white;
    /* Establecemos el texto en vertical */
    writing-mode: vertical-rl;
    /* Establecemos el tecto en horizontal para que sea legible */
    text-orientation: upright;
}

/* Contenedor del  */
.aside div {
    /* Establecemos el contenedor flexible*/
    display: flex;
    /* Justificamos el contenido al centro*/
    justify-content: center;
    /* Establecemos los bordes redondos*/
    border-radius: 1em;
    /* Establecemos el ancho del contenedor*/
    width: 20%;
    /* Establecemos el alto del contenedor*/
    height: 90%;
}

/*? Parrafos del aside*/
.aside span {
    /* Establecemos el relleno*/
    padding: 0.3em;
    /* Establecemos el color de fondo*/
    background-color: white;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.4em;
    /* Alineamos el texto*/
    text-align: center;
    /* Establecemos el ancho*/
    width: 70%;
    /* Establecemos el alto*/
    height: 1em;
    /* Establecemos el color*/
    color: rgb(66, 66, 66);
    /* Establecemos el tamaño de la fuente*/
    font-weight: bold;
    /* Establecemos el borde redondo*/
    border-radius: 1em;
}

/*!----------------------------------------- footer ------------------------------------*/
/*? Pie de pagina*/
.footer {
    /* Establecemos el area en el main*/
    grid-area: footer;
    /* Establecemos una nueva cuadricula*/
    display: grid;
    /* Asignamos la areas*/
    grid-template-areas: "footer--contacto footer--social";
    /* Establecemos el tamaño de las columnas*/
    grid-template-columns: 50% 50%;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos el color de fondo*/
    background-color: rgb(66, 66, 66);
    /* Establecemos el color del primer plano*/
    color: aliceblue;
    /* Establecemos el estilo del borde*/
    border-style: groove;
    /* Establecemos el ancho del borde*/
    border-width: 0.7em;
    /* Establecemos el sobreado*/
    box-shadow: 2px 2px 1em rgba(66, 66, 66, 0.5);
}

/*? Contactos del pie de pagina*/
.footer--contacto {
    /* Establecemos el area en el pie de pagina*/
    grid-area: footer--contacto;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos la altura*/
    height: 100%;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1.2em;
}

/*? Iconos del pie de pagina*/
.footer--social {
    /* Establecemos el area en el pie de pagina*/
    grid-area: footer--social;
    /* Alineamos el texto al centro*/
    text-align: center;
    /* Establecemos el tamaño de la fuente*/
    font-size: 1em;
    /* Establecemos la altura*/
    height: 100%;
}

/*? Imagenes iconos pie de pagina*/
.footer--social img {
    /* establecemos el alto*/
    height: 18%;
    /* Establecemos el ancho*/
    width: 7%;
}
